.parcontainer{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    height:500px;
     width:350px;
    border:2px solid black;
    background-color: grey;
    box-shadow: 2px 2px 5px black;
    
}
.container1{
    margin:10px;
    width: 300px;
    height: 65px;
    border: 2px solid black;
    background-color: white;
    justify-content: start;
}
.container2{
    margin:10px;
    width: 300px;
    height: 500px;
    border: 2px solid grey;
   display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 75px 75px 75px 75px 75px ;
gap: 10px;

}
.btn{
    font-weight: bold;;
    background-color:rgb(114, 224, 224);
}