/* *{
    background: red;
} */
/* *{
    display:flex;
    align-items: center;
    justify-content: center;
} */

/* .parent{
    border:2px solid black;
    height:800px;
    width:800px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.child1{
    border:2px solid black;
    height:200px;
    width:200px;

}
.child2{
    border:2px solid black;
    height:200px;
    width:200px;

}
.child3{
    border:2px solid black;
    height:200px;
    width:200px;
} */
*{
    display: flex ;
}

.container {
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: 150px 150px;
gap: 10px;
}

.child1 {
    border: 2px groove red;
    width: 100px;
    height: 100px;
}
.child2 {
    border: 2px groove blue;
    width: 100px;
    height: 100px;
}
.child3 {
    border: 2px groove green;
    width: 100px;
    height: 100px;
}