*{
    background-color:skyblue;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.child{
    padding:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.text1,.text2,.text3{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;

}