*{
    box-sizing: border-box;
}
.parent{
    width : 100% ;
    display : flex ;
     height : 100vh;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 100%;
    height: auto;
}
/* .box1{
    background-color: rgb(37, 251, 255);
    color: blueviolet;
    text-align: center;
    padding: 10px;
    width:200%;
}
.box2{
    background-color: rgb(73, 255, 37);
    color: rgb(226, 43, 43);
    text-align: center;
    padding: 10px;
    width:200%;
}
.box3{
    background-color: rgb(255, 251, 37);
    color: rgb(144, 96, 0);
    text-align: center;
    padding: 10px;
    width:200%;
} */ 
 @media(orientation: portrait){
    body {
        background-color: rgb(151, 255, 239);
    }
 }
 /* @media (min-width:300px){
    body{
        background-color: rgb(121, 255, 77);
    }
 }
 @media (min-width:600px){
    body{
        background-color: rgb(255, 238, 77);
    }
 } */