
.parent {
    text-align: center;
    color: white;
    padding :70px;
    background-color: rgb(178, 255, 247);
    padding-bottom: 200px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.box1{
    border :2px solid black;
    width: 300px;
    height: 400px;
   padding :10px ;
   background-color :rgb(209, 199, 199);
   border-radius: 10px;
   box-shadow: 5px 5px 15px grey;
}
.box2{
    border :2px solid black;
    width: 300px;
    height:400px;
   padding :10px ;
   background-color : rgb(203, 202, 202);
   border-radius: 10px;
   box-shadow: 5px 5px 15px grey;
}
.box3{
    border :2px solid black;
    width: 300px;
    height: 400px;
   padding :10px ;
   background-color : rgb(197, 187, 187);
   border-radius: 10px;
   box-shadow: 5px 5px 15px grey;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.box1:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 5px grey;
    background-color: mediumorchid;
}
.box2:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(255, 126, 193);
}
.box3:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(255, 239, 64);
}