/* .parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 100px;
    height: 100px;  
    background-color: rgb(37, 251, 255);
}
.box2{
    width: 100px;
    height: 100px;  
    background-color: rgb(255, 252, 86);
}
.box3{
    width: 100px;
    height: 100px;  
    background-color: rgb(62, 174, 36);
}
.box4{
    width: 100px;
    height: 100px;  
    background-color: rgb(191, 95, 255);
}
.box:hover{
    background-color: rgb(131, 111, 202);
    transition-duration: 5s; */
    /* transform : rotate(360deg); */ 
    /* transform : translate(300px,-300px);
    border: 5px solid black;
    border-radius: 60px;


} */
/* .box2:hover{
    background-color: rgb(255, 87, 87);
    transition-duration: 5s; */
    /* transform : rotate(360deg); */ 
    /* transform : translate(300px,300px);
    border: 5px solid black;
    border-radius: 60px;
}
    .box3:hover{
    background-color: rgb(168, 202, 30);
    transition-duration: 5s; */
    /* transform : rotate(360deg); */ 
    /* transform : translate(300px,300px);
    border: 5px solid black;
    border-radius: 60px;
    }
    .box4:hover{
    background-color: rgb(87, 216, 255); */
    /* transition-duration: 5s; */
    /* transform : rotate(360deg); */ 
    /* transform : translate(300px,-300px);
    border: 5px solid black;
    border-radius: 60px;
    } */
body{
    background-color: black;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    border: 1px solid black;
}

.container{
    display: flex;
    width: 250px;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    width:  100px;
    background-color: red;
    border: 3px solid rgb(220, 209, 209);
    transition: all 1s ease-in;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container:hover .box1{
    background-color: aqua;
    transform: translate(-100px,-100px);
}
.container:hover .box2{
    background-color: forestgreen;
    transform: translate(100px,-100px);
}
.container:hover .box3{
    background-color: burlywood;
    transform: translate(-100px,100px);
}
.container:hover .box4{
    background-color: yellowgreen;
    transform: translate(100px,100px);
}
